{% extends "flatpages/default.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans 'Страница авторизованного пользователя {{request.user.username}}' %}</h2>
<div>{% trans 'Здесь может содержаться персональная информация для каждого пользователя' %}</div>

<!--<button> <a href="sign/logout/">Выйти</a> </button>-->
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %} <!-- Важно: защита от CSRF -->
    <button type="submit">{% trans 'Выйти' %}</button>
</form>
    <p>
        {% if is_not_author %}
            <!-- Добавляем кнопку для перехода на форму создания автора -->
            <a href="{% url 'author_creation' %}" class="btn btn-primary">{% trans 'Хочу стать автором' %}</a>
        {% else %}
            <p>{% trans 'Вы уже являетесь автором.' %}</p>
        {% endif %}
    </p>
{% endblock %}