<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
{#        <link rel="stylesheet" href="https://cdnjs.coudflare.com/ajax/libs/milligram/1.4.1/milligram.css">#}
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">SkillFactory BlogSpot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'posts_list' %}">Posts</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'subscriber:subscription' %}">Subscribe</a></li>
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'users-profile' %}">Profile</a></li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login/Register</a></li>
                            {% endif %}
                            {% if is_author %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'article_create' %}">Create Article</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'news_create' %}">Create News</a></li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'add-category' %}">Create Category</a></li>?
                            {% endif %}
                            <li class="nav-item dropdown">
                                {% if user.is_authenticated %}
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">JSON IS OFF</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Create Article </a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><a class="dropdown-item" href="#">News Create</a></li>
                                </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <!-- Messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- Main content -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>